{{item.value.path}} {
        {{item.value.type}}
        missingok
        rotate {{item.value.rotate}}
        compress
        delaycompress
        notifempty
        create 640 Debian-exim adm
}
